.container {
  text-align: center;
}
.title {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.reset {
  width: 440px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: #59fb4aba;
  color: white;
  margin-top: 3px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 140px;
  width: 140px;
  background-color: #1f3540;
  border: 4px solid #0f1b21;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #cccccc29;
  margin: 4px;
  box-sizing: border-box;
  margin-top: 6px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

/* .boxes img {
  width: 60px;
  height: 60px;
} */

.title img {
  width: 35px;
  height: 35px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
